<div class="col-md-12">
	<div class="job">
		<span class="pull-right">
			<% if current_user.admin? %>
			<label class="label label-success"> 管理员 </label>
			<% end %>
		</span>
	</div>
		<h2>职缺:<%= @job.title %></h2>
		<h2>职缺描述:<%= @job.description %></h2>
	<table class="table">
    <thead>
      <tr>
        <th>履历内容</th>
        <th>履历附件</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
			<% @resumes.each do |resume| %>
        <tr>
          <td><%= resume.content %></td>
          <td><%= resume.attachment %></td>
          <td><%= link_to("下载", "#")%></td>
        </tr>
			<% end %>
    </tbody>
  </table>
</div>
